In [1]:
import pandas as pd

In [18]:
#both sexes
#url = "https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/2_Population/WPP2022_POP_F01_1_POPULATION_SINGLE_AGE_BOTH_SEXES.xlsx"

In [21]:
#male
url_m = "https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/2_Population/WPP2022_POP_F01_2_POPULATION_SINGLE_AGE_MALE.xlsx"
#female 
url_f = "https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/2_Population/WPP2022_POP_F01_3_POPULATION_SINGLE_AGE_FEMALE.xlsx"

In [22]:
df_m  = pd.read_excel(url_m, header=16, na_values=['*', ' '])
df_f  = pd.read_excel(url_f, header=16, na_values=['*', ' '])

In [23]:
df_projection_m  = pd.read_excel(url_m, header=16, na_values=['*', ' '], sheet_name='Medium variant')
df_projection_f  = pd.read_excel(url_f, header=16, na_values=['*', ' '], sheet_name='Medium variant')

In [25]:
japan_m = pd.concat([
    df_m[df['ISO3 Alpha-code']=='JPN'],
    df_projection_m[df_projection['ISO3 Alpha-code']=='JPN']
])

In [24]:
japan_f = pd.concat([
    df_m[df['ISO3 Alpha-code']=='JPN'],
    df_projection_m[df_projection['ISO3 Alpha-code']=='JPN']
])

In [27]:
japan_m['gender'] = 'M'
japan_f['gender'] = 'F'

In [28]:
japan = pd.concat([japan_m,japan_f])

In [29]:
japan

,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,92,93,94,95,96,97,98,99,100+,gender
7132,7133,Estimates,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,1.109,0.7165,0.4375,0.255,0.1505,0.0835,0.046,0.024,0.0235,M
7133,7134,Estimates,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,1.2065,0.781,0.491,0.283,0.1615,0.0915,0.0495,0.0255,0.026,M
7134,7135,Estimates,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,1.314,0.864,0.5475,0.329,0.185,0.102,0.056,0.0285,0.0295,M
7135,7136,Estimates,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,1.3925,0.915,0.5805,0.357,0.209,0.1125,0.06,0.0315,0.0315,M
7136,7137,Estimates,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,1.505,0.9675,0.6005,0.366,0.2235,0.1245,0.0645,0.0335,0.033,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7899,7900,Medium,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,289.0265,262.0675,232.8305,202.4495,169.2265,136.7225,107.8165,81.986,177.178,F
7900,7901,Medium,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,286.2765,259.971,231.598,201.6565,171.288,139.5485,109.6065,83.805,181.937,F
7901,7902,Medium,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,287.641,257.794,230.0335,200.858,170.863,141.46,112.0505,85.3345,186.8465,F
7902,7903,Medium,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,292.7475,259.3205,228.388,199.7675,170.4275,141.321,113.7615,87.3795,191.6375,F
7903,7904,Medium,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,295.7745,264.234,230.037,198.6115,169.752,141.1795,113.8355,88.8615,196.7435,F

In [30]:
japan = japan.loc[:,'Year':].rename(columns={'Year':'year','100+':100})

In [31]:
japan.year = japan.year.astype(int)

In [32]:
japan['lost_gen_max'] = (japan.year -1970)
japan['lost_gen_min'] = (japan.year -1980).clip(upper=100)

In [33]:
japan['babyboomers_max'] = (japan.year -1945)
japan['babyboomers_min'] = (japan.year -1950).clip(upper=100)

In [34]:
japan.head()

,year,0,1,2,3,4,5,6,7,8,...,96,97,98,99,100,gender,lost_gen_max,lost_gen_min,babyboomers_max,babyboomers_min
7132,1950,1244.4375,1309.6785,1277.0395,1079.528,874.7875,906.9475,984.293,1001.343,1008.662,...,0.1505,0.0835,0.046,0.024,0.0235,M,-20,-30,5,0
7133,1951,1094.8555,1204.1855,1288.2985,1270.6495,1081.0105,871.179,898.039,976.102,993.6065,...,0.1615,0.0915,0.0495,0.0255,0.026,M,-19,-29,6,1
7134,1952,1011.0925,1062.8655,1186.9255,1282.727,1272.596,1077.5155,863.8765,890.9915,968.6075,...,0.185,0.102,0.056,0.0285,0.0295,M,-18,-28,7,2
7135,1953,947.382,984.6645,1049.6895,1182.8995,1284.617,1269.2165,1069.9505,858.0835,884.2405,...,0.209,0.1125,0.06,0.0315,0.0315,M,-17,-27,8,3
7136,1954,895.168,924.11,973.6865,1046.639,1184.3215,1281.5585,1260.8245,1063.4085,852.602,...,0.2235,0.1245,0.0645,0.0335,0.033,M,-16,-26,9,4

In [35]:
japan = japan.melt(id_vars=['year', 'gender','lost_gen_min', 'lost_gen_max','babyboomers_min','babyboomers_max'],var_name='age',value_name='population')

In [36]:
japan['lost_gen'] = (japan.age>=japan.lost_gen_min)&(japan.age<=japan.lost_gen_max)
japan['babyboomers'] = (japan.age>=japan.babyboomers_min)&(japan.age<=japan.babyboomers_max)

In [37]:
japan['generation'] = japan.lost_gen.replace({True:'Lost generation', False:'other'})

In [38]:
japan.loc[(japan.babyboomers)&(~japan.lost_gen), 'generation'] = 'Babyboomers'

In [39]:
japan_population = japan[japan.year<=2050].drop(['lost_gen_min','lost_gen_max','babyboomers_min','babyboomers_max'], axis=1)

In [40]:
japan_population

       year gender  age population  lost_gen  babyboomers   generation
0      1950      M    0  1244.4375     False         True  Babyboomers
1      1951      M    0  1094.8555     False        False        other
2      1952      M    0  1011.0925     False        False        other
3      1953      M    0    947.382     False        False        other
4      1954      M    0    895.168     False        False        other
...     ...    ...  ...        ...       ...          ...          ...
30447  2046      F  100    56.1075     False         True  Babyboomers
30448  2047      F  100     62.262     False         True  Babyboomers
30449  2048      F  100     72.151     False         True  Babyboomers
30450  2049      F  100    79.8855     False         True  Babyboomers
30451  2050      F  100     83.186     False         True  Babyboomers

[20402 rows x 7 columns]

In [45]:
japan_population.to_csv('./output/japan_population.csv', index=False)

In [44]:
japan_population.head()

   year gender age population  lost_gen  babyboomers   generation
0  1950      M   0  1244.4375     False         True  Babyboomers
1  1951      M   0  1094.8555     False        False        other
2  1952      M   0  1011.0925     False        False        other
3  1953      M   0    947.382     False        False        other
4  1954      M   0    895.168     False        False        other

In [48]:
japan_population[japan_population.year==2022].to_csv('japan_population_2022',index=False)

In [43]:
pop

'https://cdn.jsdelivr.net/npm/vega-datasets@v1.29.0/data/population.json'

In [42]:
import altair as alt
from altair.expr import datum, if_
from vega_datasets import data

#pop = data.population.url
pop = japan_population

slider = alt.binding_range(min=1850, max=2000, step=10)
select_year = alt.selection_single(name='year', fields=['year'], bind=slider)

base = alt.Chart(pop).add_selection(
    select_year
).transform_filter(
    select_year
).transform_calculate(
    gender=if_(datum.gender == 1, 'Male', 'Female')
)

title = alt.Axis(title='population')
color_scale = alt.Scale(domain=['Male', 'Female'],
                        range=['#1f77b4', '#e377c2'])

left = base.transform_filter(
    datum.gender == 'Female'
).encode(
    y=alt.X('age:O', axis=None),
    x=alt.X('sum(people):Q', axis=title, sort=alt.SortOrder('descending')),
    color=alt.Color('gender:N', scale=color_scale, legend=None)
).mark_bar().properties(title='Female')

middle = base.encode(
    y=alt.X('age:O', axis=None),
    text=alt.Text('age:Q'),
).mark_text().properties(width=20)

right = base.transform_filter(
    datum.gender == 'Male'
).encode(
    y=alt.X('age:O', axis=None),
    x=alt.X('sum(people):Q', axis=title),
    color=alt.Color('gender:N', scale=color_scale, legend=None)
).mark_bar().properties(title='Male')

left | middle | right

alt.HConcatChart(...)