In [1]:
import pandas as pd

In [18]:
#both sexes
#url = "https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/2_Population/WPP2022_POP_F01_1_POPULATION_SINGLE_AGE_BOTH_SEXES.xlsx"

In [21]:
#male
url_m = "https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/2_Population/WPP2022_POP_F01_2_POPULATION_SINGLE_AGE_MALE.xlsx"
#female 
url_f = "https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/EXCEL_FILES/2_Population/WPP2022_POP_F01_3_POPULATION_SINGLE_AGE_FEMALE.xlsx"

In [22]:
df_m  = pd.read_excel(url_m, header=16, na_values=['*', ' '])
df_f  = pd.read_excel(url_f, header=16, na_values=['*', ' '])

In [23]:
df_projection_m  = pd.read_excel(url_m, header=16, na_values=['*', ' '], sheet_name='Medium variant')
df_projection_f  = pd.read_excel(url_f, header=16, na_values=['*', ' '], sheet_name='Medium variant')

In [25]:
japan_m = pd.concat([
    df_m[df['ISO3 Alpha-code']=='JPN'],
    df_projection_m[df_projection['ISO3 Alpha-code']=='JPN']
])

In [24]:
japan_f = pd.concat([
    df_m[df['ISO3 Alpha-code']=='JPN'],
    df_projection_m[df_projection['ISO3 Alpha-code']=='JPN']
])

In [27]:
japan_m['gender'] = 'M'
japan_f['gender'] = 'F'

In [229]:
japan = pd.concat([japan_m,japan_f])

In [230]:
japan

,Index,Variant,"Region, subregion, country or area *",Notes,Location code,ISO3 Alpha-code,ISO2 Alpha-code,SDMX code**,Type,Parent code,...,92,93,94,95,96,97,98,99,100+,gender
7132,7133,Estimates,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,1.109,0.7165,0.4375,0.255,0.1505,0.0835,0.046,0.024,0.0235,M
7133,7134,Estimates,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,1.2065,0.781,0.491,0.283,0.1615,0.0915,0.0495,0.0255,0.026,M
7134,7135,Estimates,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,1.314,0.864,0.5475,0.329,0.185,0.102,0.056,0.0285,0.0295,M
7135,7136,Estimates,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,1.3925,0.915,0.5805,0.357,0.209,0.1125,0.06,0.0315,0.0315,M
7136,7137,Estimates,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,1.505,0.9675,0.6005,0.366,0.2235,0.1245,0.0645,0.0335,0.033,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7899,7900,Medium,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,289.0265,262.0675,232.8305,202.4495,169.2265,136.7225,107.8165,81.986,177.178,F
7900,7901,Medium,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,286.2765,259.971,231.598,201.6565,171.288,139.5485,109.6065,83.805,181.937,F
7901,7902,Medium,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,287.641,257.794,230.0335,200.858,170.863,141.46,112.0505,85.3345,186.8465,F
7902,7903,Medium,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,292.7475,259.3205,228.388,199.7675,170.4275,141.321,113.7615,87.3795,191.6375,F
7903,7904,Medium,Japan,NaN,392,JPN,JP,392.0,Country/Area,906,...,295.7745,264.234,230.037,198.6115,169.752,141.1795,113.8355,88.8615,196.7435,F

In [231]:
japan = japan.loc[:,'Year':].rename(columns={'Year':'year','100+':100})

In [232]:
japan.year = japan.year.astype(int)

In [233]:
japan['lost_gen_max'] = (japan.year -1971)
japan['lost_gen_min'] = (japan.year -1982).clip(upper=100)

In [234]:
japan['babyboomers_max'] = (japan.year -1945)
japan['babyboomers_min'] = (japan.year -1951).clip(upper=100)

In [235]:
japan.head()

,year,0,1,2,3,4,5,6,7,8,...,96,97,98,99,100,gender,lost_gen_max,lost_gen_min,babyboomers_max,babyboomers_min
7132,1950,1244.4375,1309.6785,1277.0395,1079.528,874.7875,906.9475,984.293,1001.343,1008.662,...,0.1505,0.0835,0.046,0.024,0.0235,M,-21,-32,5,-1
7133,1951,1094.8555,1204.1855,1288.2985,1270.6495,1081.0105,871.179,898.039,976.102,993.6065,...,0.1615,0.0915,0.0495,0.0255,0.026,M,-20,-31,6,0
7134,1952,1011.0925,1062.8655,1186.9255,1282.727,1272.596,1077.5155,863.8765,890.9915,968.6075,...,0.185,0.102,0.056,0.0285,0.0295,M,-19,-30,7,1
7135,1953,947.382,984.6645,1049.6895,1182.8995,1284.617,1269.2165,1069.9505,858.0835,884.2405,...,0.209,0.1125,0.06,0.0315,0.0315,M,-18,-29,8,2
7136,1954,895.168,924.11,973.6865,1046.639,1184.3215,1281.5585,1260.8245,1063.4085,852.602,...,0.2235,0.1245,0.0645,0.0335,0.033,M,-17,-28,9,3

In [236]:
japan = japan.melt(id_vars=['year', 'gender','lost_gen_min', 'lost_gen_max','babyboomers_min','babyboomers_max'],var_name='age',value_name='population')

In [237]:
japan['lost_gen'] = (japan.age>=japan.lost_gen_min)&(japan.age<=japan.lost_gen_max)
japan['babyboomers'] = (japan.age>=japan.babyboomers_min)&(japan.age<=japan.babyboomers_max)

In [238]:
japan['generation'] = japan.lost_gen.replace({True:'Lost generation', False:'other'})

In [239]:
japan.loc[(japan.babyboomers)&(~japan.lost_gen), 'generation'] = 'Babyboomers'

In [240]:
japan.population = japan.population.astype(float)

In [196]:
#japan_population = japan[japan.year<=2050].drop(['lost_gen_min','lost_gen_max','babyboomers_min','babyboomers_max'], axis=1)

In [241]:
japan

,year,gender,lost_gen_min,lost_gen_max,babyboomers_min,babyboomers_max,age,population,lost_gen,babyboomers,generation
0,1950,M,-32,-21,-1,5,0,1244.4375,False,True,Babyboomers
1,1951,M,-31,-20,0,6,0,1094.8555,False,True,Babyboomers
2,1952,M,-30,-19,1,7,0,1011.0925,False,False,other
3,1953,M,-29,-18,2,8,0,947.3820,False,False,other
4,1954,M,-28,-17,3,9,0,895.1680,False,False,other
...,...,...,...,...,...,...,...,...,...,...,...
30497,2096,F,100,125,100,151,100,177.1780,True,True,Lost generation
30498,2097,F,100,126,100,152,100,181.9370,True,True,Lost generation
30499,2098,F,100,127,100,153,100,186.8465,True,True,Lost generation
30500,2099,F,100,128,100,154,100,191.6375,True,True,Lost generation
30501,2100,F,100,129,100,155,100,196.7435,True,True,Lost generation

In [198]:
japan.to_csv('./output/japan_population.csv', index=False)

In [242]:
japan.head()

,year,gender,lost_gen_min,lost_gen_max,babyboomers_min,babyboomers_max,age,population,lost_gen,babyboomers,generation
0,1950,M,-32,-21,-1,5,0,1244.4375,False,True,Babyboomers
1,1951,M,-31,-20,0,6,0,1094.8555,False,True,Babyboomers
2,1952,M,-30,-19,1,7,0,1011.0925,False,False,other
3,1953,M,-29,-18,2,8,0,947.3820,False,False,other
4,1954,M,-28,-17,3,9,0,895.1680,False,False,other

In [269]:
year=2050
source = japan_population[japan_population.year==year
                         ].pivot(
    index=['age','generation'],
    columns='gender',
    values='population'
).sum(axis=1).rename('population').reset_index()

filename = f"./output/population_{year}.csv"

source.to_csv(filename, index=False)

/Users/mio/.pyenv/versions/3.10.3/lib/python3.10/site-packages/pandas/core/algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

In [270]:
import altair as alt
import numpy as np

font = "Arial"
yticks = np.arange(0,2300,500)
xticks = np.arange(0,100,20)
    #y=alt.Y('sum(supply)',
            #scale=alt.Scale(domain=(0, 1500000)),
            #axis=alt.Axis(values=yticks)),

chart = alt.Chart(source).mark_area(opacity=1).encode(
    x=alt.X("age:Q", 
            scale=alt.Scale(domain=(0, 100)),
            axis=alt.Axis(values=xticks, title=None)),
    y=alt.Y("population:Q",
            scale=alt.Scale(domain=(0,2300)),
            axis=alt.Axis(values=yticks, title=None)),
    color=alt.Color("generation:N", 
                    scale=alt.Scale(range=['beige','pink','beige']),
                    legend=None
                   )
).configure_axis(
    grid=False,
    labelFontSize=16,
    titleFontSize=20,
    titleFont=font,
    labelFont=font
).properties(
    height=400,width=400)

chart

alt.Chart(...)

In [262]:
source.generation.unique()

array(['other', 'Lost generation', 'Babyboomers'], dtype=object)

In [268]:
source[source.generation=='Lost generation'].sum().population / 1000

21.227189

In [306]:
year=2050
source = japan_population[japan_population.year==year
                         ].pivot(
    index=['year','age','generation'],
    columns='gender',
    values='population'
).sum(axis=1).rename('population').reset_index()

source = source.pivot(index=['year','age'], columns='generation',values='population').fillna(0).sort_index().reset_index()

filename = f"./output/population_{year}.csv"

source.to_csv(filename, index=False)

/Users/mio/.pyenv/versions/3.10.3/lib/python3.10/site-packages/pandas/core/algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

In [275]:
url ="https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/5_OneCatSevNumOrdered_wide.csv"

In [277]:
test = pd.read_csv(url)

In [280]:
test

     year  Amanda  Ashley  Betty  Deborah  Dorothy  Helen  Linda  Patricia
0    1880     241       0    117       12      112    636     27         0
1    1881     263       0    112       14      109    612     38         0
2    1882     288       0    123       15      115    838     36         0
3    1883     287       0    120       16      141    862     49         0
4    1884     337       0    144       13      163    986     33         6
..    ...     ...     ...    ...      ...      ...    ...    ...       ...
131  2011    1409    5398    167      332      276    729    488       427
132  2012    1228    4696    140      336      277    772    448       394
133  2013    1064    3936    174      329      334    738    441       419
134  2014    1048    3547    193      369      382    801    470       377
135  2015    1013    3409    186      346      395    757    423       346

[136 rows x 9 columns]